.card {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem;
  max-width: 65rem;

  // background-color: var(--color-transparent-white);
  background-image: var(--gradient-primary);
  background-size: 300% 200%;
  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow-tiny);

  &__link {
    display: inline-block;
    width: 100%;
    height: 44rem;
    margin-bottom: 3rem;
    opacity: 75%;

    border-radius: var(--border-radius-medium);
    box-shadow: var(--box-shadow-small);
    overflow: hidden;

    perspective: 10rem;

    transition: all 0.3s;

    &:hover {
      opacity: 90%;
      box-shadow: var(--box-shadow-big);
      transform: translateY(-0.1rem);
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  & .info-box {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .icon-box {
    margin-top: 5rem;
    justify-content: center;
  }
}
