.project-box {
  display: flex;
  overflow: hidden;
  width: 100%;
  gap: 3rem;

  background-image: var(--gradient-primary-switched);
  background-size: 200% 200%;

  box-shadow: var(--box-shadow-tiny);

  animation: gradient 15s ease infinite;
  padding: 5rem;
  border-radius: 1rem;

  &:not(:last-child) {
    margin-bottom: 15rem;
  }

  &__link {
    width: 50%;
    box-shadow: var(--box-shadow-small);
    overflow: hidden;

    transition: all 0.5s;

    &:hover {
      transform: scale(1.02);
      box-shadow: var(--box-shadow-medium);
    }
  }

  &__image {
    width: 100%;
    border-radius: 0.5rem;
    height: 100%;
    object-fit: cover;
  }
}

.info-box {
  width: 50%;
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 3rem;
  }

  &__text {
    margin-bottom: 3rem;
  }

  &__link {
    &:link,
    &:visited {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: var(--color-gray-light-3);
      font-size: 2rem;
      letter-spacing: 1.2px;

      transition: all 0.3s;
    }

    &:hover {
      color: var(--color-gray-light-1);
    }
  }

  &__icon {
    height: 3.4rem;
    width: 3.4rem;
    margin-right: 1rem;
  }
}

.icon-box {
  display: flex;
  gap: 1.5rem;
  margin-top: auto;

  &__icon {
    height: 3.4rem;
    width: 3.4rem;
    color: var(--color-gray-light-3);

    &:hover {
      color: var(--color-gray-light-1);
      transform: translateY(0.1rem);
    }
  }
}
