.project-box {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-basis: 100%;
  gap: 3rem;

  background-image: var(--gradient-primary-switched);
  background-size: 200% 200%;

  box-shadow: var(--box-shadow-tiny);

  animation: gradient 15s ease infinite;
  padding: 5rem;
  border-radius: var(--border-radius-medium);

  &:not(:last-child) {
    margin-bottom: 10rem;
  }

  &__link {
    width: 50%;
    box-shadow: var(--box-shadow-medium);
    overflow: hidden;
    opacity: 75%;

    transition: all 0.5s;

    &:hover {
      transform: scale(1.02);
      box-shadow: var(--box-shadow-medium);
      opacity: 85%;
    }

    @include respond(tab-port) {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__image {
    width: 100%;
    border-radius: 0.5rem;
    height: 100%;
    object-fit: cover;
  }

  @include respond(tab-port) {
    max-width: 60vh;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;
    gap: 1rem;
  }

  &__label {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: var(--color-transparent-white);
    padding: 1.6rem 6.8rem;
    font-size: 1.4rem;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: var(--color-gray-dark-1);
    transform: translate(-25%, 100%) rotate(-45deg);
  }
}

.info-box {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 3rem;
  }

  &__text {
    margin-bottom: 3rem;
  }

  &__link {
    &:link,
    &:visited {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: var(--color-gray-light-3);
      font-size: 2rem;
      letter-spacing: 1.2px;

      transition: all 0.3s;
    }

    &:hover {
      color: var(--color-gray-light-1);
    }

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__icon {
    height: 3.4rem;
    width: 3.4rem;
    margin-right: 1rem;
  }
}

.icon-box {
  display: flex;
  gap: 1.5rem;
  margin-top: auto;

  &__icon {
    height: 3.4rem;
    width: 3.4rem;
    color: var(--color-gray-light-3);

    transition: all 0.3s;

    &:hover {
      color: var(--color-gray-light-1);
      transform: translateY(0.1rem);
    }
  }

  @include respond(tab-port) {
    margin-top: 3rem;
    justify-content: center;
  }
}
