.stack-box {
  display: flex;
  gap: 5rem;

  margin-top: auto;
  margin-bottom: 15rem;
  justify-items: flex-end;

  @include respond(phone) {
    gap: 2rem;
    padding: 5rem;
  }

  &__icon {
    width: 7rem;
    height: 7rem;

    opacity: 60%;
    color: var(--color-gray-light-3);

    @include respond(phone) {
      width: 5rem;
      height: 5rem;
    }
  }
}
