*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: var(--color-gray-light-1);
  scroll-behavior: smooth;

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(phone) {
    font-size: 40%;
  }
}

body {
  background-image: var(--gradient-primary);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  position: relative;
}
