.section-hero {
  max-width: 120rem;
  margin: 0 auto;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    gap: 3rem;
  }

  @include respond(phone) {
    height: 90vh;
    margin-top: 20rem;
    padding: 5rem;
    text-align: center;
  }
}

.section-projects {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;

  @include respond(phone) {
    text-align: center;
  }
}

.section-components {
  max-width: 120rem;
  margin: 0 auto;

  @include respond(phone) {
    text-align: center;
  }
}
