.section-hero {
  max-width: 120rem;
  margin: 0 auto;
  // height: 45vh;

  display: flex;
  flex-direction: column;

  margin-top: 30rem;
  align-items: center;
}

.section-projects {
  max-width: 120rem;
  margin: 0 auto;
}
