.header {
  grid-column: 1/-1;
  // display: flex;

  &__title {
    display: inline-block;
    padding: 3rem;

    font-size: 8.4rem;
    font-weight: 100;
    text-transform: uppercase;

    transition: all 0.3s;

    @include respond(phone) {
      font-size: 7.6rem;
    }

    @include respond(tab-port) {
      padding-left: 1rem;
    }

    &:hover {
      transform: translateX(3rem);
      letter-spacing: 2;
    }
  }
}
