/* 
0- 600px:    Phone
600-900px:   Tablet portrait
900-1200px:  Tablet landscape
1200-1800:   Normal styles
1800+:       Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

*/
:root {
  --color-primary: #659999;
  --color-primary-dark: #334d4d;
  --color-primary-light: #a3c2c2;
  --color-secondary: #f4791f;
  --color-secondary-dark: #7a3d10;
  --color-secondary-light: #f8af79;
  --gradient-primary: linear-gradient(
    to right bottom,
    var(--color-primary),
    var(--color-secondary)
  );
  --gradient-primary-switched: linear-gradient(
    to left bottom,
    var(--color-primary),
    var(--color-secondary)
  );
  --color-white: #fff;
  --color-black: #000;
  --color-gray-dark-1: #333;
  --color-gray-dark-2: #777;
  --color-gray-dark-3: #ddd;
  --color-gray-light-1: #f7f7f7;
  --color-gray-light-2: #eee;
  --color-gray-light-3: #ddd;
  --color-gray-light-4: #ccc;
  --color-transparent-white: rgba(247, 247, 247, 0.9);
  --font-size-default: 1.6rem;
  --border-radius-circle: 50%;
  --border-radius-small: 0.3rem;
  --border-radius-medium: 1rem;
  --border-radius-huge: 50rem;
  --box-shadow-tiny: 0 1rem 4rem rgba(0, 0, 0, 0.1);
  --box-shadow-small: 0 1rem 3rem rgba(0, 0, 0, 0.15);
  --box-shadow-medium: 0 1.5rem 4rem rgba(0, 0, 0, 0.12);
  --box-shadow-big: 0 2rem 5rem rgba(0, 0, 0, 0.1);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}
@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}
@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: var(--color-gray-light-1);
  scroll-behavior: smooth;
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 40%;
  }
}

body {
  background-image: var(--gradient-primary);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  position: relative;
}

.heading-primary {
  font-size: 8.4rem;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
}

.heading-secondary {
  font-size: 4.8rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  line-height: 1;
}

.heading-tertiary {
  font-size: 3.2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  line-height: 1;
}

.paragraph {
  font-size: 2rem;
  letter-spacing: 1.4px;
  color: var(--color-gray-light-2);
}

.u-margin-bottom-small {
  margin-bottom: 2rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 7.4rem !important;
}

.u-margin-bottom-medium-big {
  margin-bottom: 10rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 22rem !important;
}
@media only screen and (max-width: 37.5em) {
  .u-margin-bottom-big {
    margin-bottom: 10rem !important;
  }
}

.u-flex-direction-switched {
  flex-direction: row-reverse !important;
}
@media only screen and (max-width: 56.25em) {
  .u-flex-direction-switched {
    flex-direction: column !important;
  }
}

.contact-box {
  margin-top: 3rem;
  display: flex;
  gap: 3rem;
}
.contact-box__link:link, .contact-box__link:visited {
  color: inherit;
}
.contact-box__icon {
  height: 3.8rem;
  width: 3.8rem;
  color: var(--color-gray-light-3);
  transition: all 0.3s;
}
.contact-box__icon:hover {
  color: var(--color-gray-light-1);
}

.stack-box {
  display: flex;
  gap: 5rem;
  margin-top: auto;
  margin-bottom: 15rem;
  justify-items: flex-end;
}
@media only screen and (max-width: 37.5em) {
  .stack-box {
    gap: 2rem;
    padding: 5rem;
  }
}
.stack-box__icon {
  width: 7rem;
  height: 7rem;
  opacity: 60%;
  color: var(--color-gray-light-3);
}
@media only screen and (max-width: 37.5em) {
  .stack-box__icon {
    width: 5rem;
    height: 5rem;
  }
}

.project-box {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-basis: 100%;
  gap: 3rem;
  background-image: var(--gradient-primary-switched);
  background-size: 200% 200%;
  box-shadow: var(--box-shadow-tiny);
  animation: gradient 15s ease infinite;
  padding: 5rem;
  border-radius: var(--border-radius-medium);
}
.project-box:not(:last-child) {
  margin-bottom: 10rem;
}
.project-box__link {
  width: 50%;
  box-shadow: var(--box-shadow-medium);
  overflow: hidden;
  opacity: 75%;
  transition: all 0.5s;
}
.project-box__link:hover {
  transform: scale(1.02);
  box-shadow: var(--box-shadow-medium);
  opacity: 85%;
}
@media only screen and (max-width: 56.25em) {
  .project-box__link {
    width: 100%;
    margin-bottom: 2rem;
  }
}
.project-box__image {
  width: 100%;
  border-radius: 0.5rem;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 56.25em) {
  .project-box {
    max-width: 60vh;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;
    gap: 1rem;
  }
}
.project-box__label {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: var(--color-transparent-white);
  padding: 1.6rem 6.8rem;
  font-size: 1.4rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: var(--color-gray-dark-1);
  transform: translate(-25%, 100%) rotate(-45deg);
}

.info-box {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}
.info-box__title {
  margin-bottom: 3rem;
}
.info-box__text {
  margin-bottom: 3rem;
}
.info-box__link:link, .info-box__link:visited {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-gray-light-3);
  font-size: 2rem;
  letter-spacing: 1.2px;
  transition: all 0.3s;
}
.info-box__link:hover {
  color: var(--color-gray-light-1);
}
@media only screen and (max-width: 37.5em) {
  .info-box__link {
    flex-direction: column;
  }
}
.info-box__icon {
  height: 3.4rem;
  width: 3.4rem;
  margin-right: 1rem;
}

.icon-box {
  display: flex;
  gap: 1.5rem;
  margin-top: auto;
}
.icon-box__icon {
  height: 3.4rem;
  width: 3.4rem;
  color: var(--color-gray-light-3);
  transition: all 0.3s;
}
.icon-box__icon:hover {
  color: var(--color-gray-light-1);
  transform: translateY(0.1rem);
}
@media only screen and (max-width: 56.25em) {
  .icon-box {
    margin-top: 3rem;
    justify-content: center;
  }
}

.carousel {
  width: 40rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;
  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow-medium);
}
.carousel__slides {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: both mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-color: transparent transparent;
  scrollbar-width: 0px;
}
.carousel__slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.carousel__slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.carousel__slides::-webkit-scrollbar-track {
  background: transparent;
}
.carousel__slides > .card {
  scroll-snap-align: center;
  flex-shrink: 0;
  height: 50rem;
  margin-right: 3rem;
  border-radius: 10px;
  position: relative;
  box-shadow: none;
}
.carousel__nav {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 75%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.carousel__nav-link:link, .carousel__nav-link:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--color-gray-dark-3);
  color: var(--color-gray-dark-2);
  text-decoration: none;
  font-weight: 700;
  font-size: 1.6rem;
  font-family: inherit;
  border-radius: 50%;
  position: relative;
  transition: all 0.2s;
}
.carousel__nav-link:hover {
  background-color: var(--color-gray-light-1);
}
.carousel__nav-link:active {
  transform: translateY(-0.1rem);
  background: var(--color-gray-light-2);
}

.card:target .carousel__nav-link {
  transform: scale(1.1);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding: 2rem;
  width: 40rem;
  background-image: var(--gradient-primary);
  background-size: 300% 200%;
  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow-tiny);
}
.card__link {
  display: inline-block;
  width: 100%;
  height: 44rem;
  margin-bottom: 1rem;
  opacity: 75%;
  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow-small);
  overflow: hidden;
  perspective: 10rem;
  transition: all 0.3s;
}
.card__link:hover {
  opacity: 90%;
  box-shadow: var(--box-shadow-big);
  transform: translateY(-0.1rem);
}
.card__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card .info-box {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  margin-bottom: 1rem;
}
.card .info-box__title {
  font-size: 2.6rem;
}
.card .info-box__text {
  font-size: 1.6rem;
}
.card .icon-box {
  justify-content: center;
}
.card .icon-box__link {
  margin-right: auto;
}

.header {
  display: flex;
  max-width: 120rem;
  margin: 0 auto;
  height: 10rem;
  align-items: flex-end;
  justify-content: space-between;
}
@media only screen and (max-width: 37.5em) {
  .header {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}

.footer {
  padding: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  background-image: var(--gradient-primary);
  -webkit-mask: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0) 10%);
          mask: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0) 10%);
  background-size: 300% 300%;
}
.footer__copyright {
  font-size: 1.6rem;
  letter-spacing: 1px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}
@media only screen and (max-width: 37.5em) {
  .nav {
    margin-left: 0;
  }
}
.nav__list {
  display: flex;
  list-style: none;
  gap: 2rem;
}
.nav__link:link, .nav__link:visited {
  text-decoration: none;
  color: inherit;
  font-size: 2.4rem;
  color: var(--color-gray-light-3);
  transition: all 0.3s;
}
.nav__link:link:hover, .nav__link:visited:hover {
  color: var(--color-gray-light-1);
}
.nav__icon {
  width: 3.6rem;
  height: 3.6rem;
}

.section-hero {
  max-width: 120rem;
  margin: 0 auto;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  gap: 3rem;
}
@media only screen and (max-width: 37.5em) {
  .section-hero {
    margin-top: 20rem;
    padding: 5rem;
    text-align: center;
  }
}

.section-projects {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}
@media only screen and (max-width: 37.5em) {
  .section-projects {
    text-align: center;
  }
}

.section-components {
  max-width: 120rem;
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */